{% extends './base.html' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/forgot-password.css') }}">
{% endblock %}

{% block title %}Forgot Password{% endblock %}

{% block content %}
    <section id="forgot-password">
        <div class="container-md">
            <div class="flex">
                <div>
                    <h3>Forgot Password</h3>
                    <p>
                        Enter the email address associated with your account. We'll send you an email with a link to reset your password.
                    </p>
                    <form action="{{ url_for('auth.send_reset_link') }}" method="POST">
                        {{ form.csrf_token }}
                        {{ form.email_address.label }}
                        {{ form.email_address(class_="form-field", placeholder='abc@gmail.com') }}
                        {{ form.submit(class="btn btn-primary") }}
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
