{% extends './base.html' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/reset-password.css') }}">
{% endblock %}

{% block title %}Reset Password{% endblock %}

{% block content %}
    <section id="reset-password">
        <div class="container-md">
            <div class="flex">
                <div>
                    <h3>Reset Password</h3>
                    <form action="{{ url_for('auth.change_password', token=token) }}" method="POST">
                        {{ form.csrf_token }}
                        {{ form.email_address.label }}
                        {{ form.email_address(class_="form-field", placeholder='abc@gmail.com') }}
                        {{ form.password.label }}
                        {{ form.password(class_="form-field", placeholder='Password must be 8 or more characters, 1 digit, 1 uppercase', title='Password must be 8 or more characters, 1 digit, 1 uppercase') }}
                        {{ form.confirm_password.label }}
                        {{ form.confirm_password(class_="form-field", placeholder='Re-type password') }}
                        {{ form.submit(class="btn btn-primary") }}
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
