{% extends './base.html' %}

{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == 'error' %}
                    <div>
                        {{ message }}
                        {% if domain %}
                            <a href="{{ domain }}{{ url_for('verify.request_token') }}?token={{ token }}">Request new token</a>
                        {% endif %}                       
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
{% endblock %}