/* Forgot password styles */
section#forgot-password {
    margin: 5rem 0;
}

#forgot-password h3,
#forgot-password p {
    color: var(--black-faded);
    margin-bottom: 1rem;
}

#forgot-password h3 {
    font-size: 1.5rem;
}