/* Global styles */

:root {
    --primary-color: #0d62d1;
    --secondary-color: #ececec;
    --white-faded: #ffffffe1;
    --white-transparent: #ffffff7c;
    --error: #f27676de;
    --error-text: #bb1313;
    --success: #a1e0a1e7;
    --success-text: rgb(63, 148, 63);
    --warning: #f2ed68e8;
    --warning-text: #f2ed68;
    --info: #66ccdedc;
    --info-text: #1a7a8c;
    --black: #000000;
    --black-faded: #000000b9;
    --white: #ffffff;
    font-size: 16px;
}

* {
    transition: all 0.5s ease-in-out;
}

*::before, *::after {
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: mandatory;
}

body {
    position: relative;
}

a:hover, button:hover, .btn:hover {
    cursor: pointer;
    opacity: 0.9;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    line-height: 1.5;
}

p, a, li, span, input, textarea, button, label {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    line-height: 1.3;
}

img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: var(--primary-color);
    display: block;
    font-size: 1.13rem;
}

input {
    display: block; 
    padding: 0.5rem;
    box-sizing: border-box;
}

.btn[disabled] {
    opacity: 0.5;
}

*[disabled]:hover {
    cursor: not-allowed;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 15px;
}

.flex {
    display: flex;
}


/* button styles */
.btn {
    border: none;
    appearance: none;
    padding: 0.5rem 2rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}

.btn-primary {
    background-color: var(--primary-color);
    color: var(--white-faded);
}

.btn-secondary {
    background-color: var(--white);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.btn-secondary:hover {
    background-color: var(--primary-color);
    color: var(--white);
}

.btn-error {
    background-color: var(--error-text);
    color: var(--white-faded);
}

.btn-info {
    background-color: var(--info-text);
    color: var(--white-faded)
}

/* menu styles */
.menu-items li {
    display: inline-block;
}

.menu-items li a {
    padding: 0 0.7rem;
}


/* form styles */
form {
    width: 100%;
}

textarea {
    resize: none;
}

.form-field {
    margin-bottom: 1rem;
    width: 100%;
}

.form-field label {
    display: block;
    margin-bottom: 0.5rem;
}

.form-input {
    display: block;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--black-faded);
    border-radius: 5px;
}

.form-input:focus {
    outline: none;
    border: 1px solid var(--primary-color);
}

.form-input:focus::placeholder {
    color: transparent;
}


/* icon styles */
.close-icon {
    position: absolute;
    right: 1rem;
    width: 1rem;
    height: 1rem;
    color: var(--white-faded);
    cursor: pointer;
}


/* flash messages styles */
section#flash-messages {
    width: 100%;
    padding: 0 1rem;
    margin-top: 0.5rem;
}

.error, .success, .info, .warning {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    position: relative;
}

.error {
    background-color: var(--error);
    color: var(--error-text);
}

.success {
    background-color: var(--success);
    color: var(--success-text);
}

.warning {
    background-color: var(--warning);
    color: var(--warning-text);
}

.info {
    background-color: var(--info);
    color: var(--info-text);
}


/* profile styles */
div.profile {
    width: 100%;
    padding: 1rem;
    position: relative;
}

div.dropdown {
    width: 100%;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--black);
    display: none;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

div.dropdown li a {
    display: block;
    margin-bottom: 0.5rem;
    color: var(--white-faded);
}

div.profile:hover div.dropdown {
    display: block;
    z-index: 100;
}


/* overlays */
body.open::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--black-faded);
    z-index: 20;
    display: block;
}