/* Reset password styles */
section#reset-password {
    margin: 5rem 0;
}

#reset-password h3 {
    color: var(--black-faded);
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

#reset-password .container-md .flex div {
    width: 100%;
}