<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/resets.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/global.css') }}">
    <script src="{{ url_for('static', filename='javascripts/script.js') }}" defer></script>
    {% block styles %}{% endblock %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo-white.svg') }}" type="image/x-icon">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>